      
<!-- Online User chat box display -->
    <div class="sidebar">
        <nav class="sidebar-nav-fixed  pull-right affix">
                <div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
				</div>
            
            <div class="sidebar-expanded col-2 ">
                <ul class="navbar-nav">
                    <li class="nav-item" id="online_user_list">
                        <!-- <div class="d-flex bd-highlight">
                            <div class="img_cont">
            <img src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg" class="rounded-circle user_img">
                            <span class="online_icon offline"></span>
                        </div>
                                    
                         <div class="user_info">
                            <span>Darya Dcousta</span>
                            <p>left 7 mins ago left</p>
                         </div>
                                    
                        </div> -->
                   
                    </li>
                    <!-- <li class="nav-item">
                            <div class="d-flex bd-highlight">
                
                                    <div class="img_cont">
                                            <img src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg" class="rounded-circle user_img">
                                                        <span class="online_icon"></span>
                                                    </div>
                                    
                                    <div class="user_info">
                                                        <span>Maryam Naz</span>
                                                        <p>Maryam is online</p>
                                                    </div>
                                  
                                  </div>
                    </li> -->
                   
                   
                    
                </ul>
               
            </div>
        
        </nav>
    </div>