      
<!-- Online User chat box display -->
    <div class="sidebar">
        <nav class="sidebar-nav-fixed  pull-right affix">
                <div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
				</div>
            
            
                <ul class="navbar-nav"><li class="nav-item" id="online_user_list"></li></ul>
                   
                    
                
               
            
        
        </nav>
    </div>