
<!-- display events options-->
<div class="card mb-3">
    <div class="card-header bg-transparent">Events</div>
    <div class="card-body">
        <ul class="nav">
                <li class="card-body">        
                                <a href=""><img src="../public/image/Upcoming-Events.png" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px;"></a>
                                Upcoming Events
                                <a href=""><img src="../public/image/activeevents.png" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
                                Active Events
                                <a href=""><img src="../public/image/pastevents.png" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
                                Previous Events
                  
                </li>
        </ul>          
    </div>
    <div class="card-footer bg-transparent">View More</div>
  </div>