<!-- find events -->

<div class="card mb-3">
    <div class="card-header bg-transparent">
        <div class="row">
                <div class="form-group col-md-9">
                        <input class="form-control" type="text" placeholder="Find Events" aria-label="Search">
                  </div>
                  <div class="form-group col-md-3">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find</button>
                  </div>
        </div>

    </div>
    <div class="card-body">
    
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Today</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tommarow</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">This Week</button>
    </div>


</div>