
<!-- floating icons like notification,message,chat options-->

<div class="container-fluid fixed-bottom bg-transparent" style="background-color:#F4F6F6">
    <div class="row" style="padding:10px">
     <ul class="list-group">
      <li style="padding-bottom:10px">
        <a href=""><img src="../public/image/Twitter_UI-18-512.png" alt="" class="rounded-circle border border-danger" style="width:50px; height:50px"></a>
        <a href=""><img src="../public/image/messageicon1.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:50px; height:50px"></a>
        <a href=""><img src="../public/image/notificationicon.png" alt="" class="img-fluid rounded-circle border border-danger" style="width:50px; height:50px"></a>
      </li> 					   
     </ul>        
    </div>
</div>