
<!-- recommend events for users -->
<div class="card mb-3">
    <div class="card-header bg-transparent">Remended Events For You</div>
    <div class="card-body">
        <ul class="nav">
                <li class="card-body">
                       <div class="row">       

                        <div class="col-lg-3">
                                <a href=""><img src="../public/image/jazzyb.jpg" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
                        </div>
                        <div class="col-lg-3">
                                <a href=""><img src="../public/image/jazzyb.jpg" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
                        </div>
                        <div class="col-lg-3">
                                <a href=""><img src="../public/image/6.jpg" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
                        </div>
                        <div class="col-lg-3">
                                <a href=""><img src="../public/image/1.jpg" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
                        </div>
                        

                    </div>
                  
                </li>
        </ul>          
    </div>
    <div class="card-footer bg-transparent">View More
  </div>


<!--/sidebar-nav-fixed -->
</div>