
                          <!-- user suggestion box diplay -->
                          
                          <% if (user.length > 0){ %>
                            <% user.forEach(function(item,  index){%>
                            <div class="card mb-4" id="suggestionBox" data-userid="<%=item.user_id%>">
                                    <div class="card-header">Suggestions</div>
                                    <div class="card-body text-center" id="slides" data-userid="<%=item.user_id%>">
                                            </div>
                            </div>
                            <%}); %>
                            <%}%>
