
                        <!-- View All Story of Users-->
<div class="container-fluid fixed" style="background-color:#F4F6F6">
    <div class="row" style="padding:10px">
     <ul class="list-group">
      <li style="padding-bottom:10px">
       
        <button class="rounded-circle border border-danger"  style="width:100px; height:100px">
         <i class="fa fa-plus"></i>
        </button>
        <a href=""><img src="../public/image/1.jpg" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
        <a href=""><img src="../public/image/3.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
        <a href=""><img src="../public/image/4.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
        <a href=""><img src="../public/image/5.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
        <a href=""><img src="../public/image/6.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
        <a href=""><img src="../public/image/7.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
        <a href=""><img src="../public/image/8.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
        <a href=""><img src="../public/image/9.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
        <a href=""><img src="../public/image/10.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
        <a href=""><img src="../public/image/11.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
        <a href=""><img src="../public/image/1.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
        <a href=""><img src="../public/image/4.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
        <a href=""><img src="../public/image/5.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
       
      </li> 					   
     </ul>
     
    
    </div>
   </div>