<br /> <br /> <br /> <br /> <br /> <br />
<%- include('partials/includes/header') %>
<%- include('partials/includes/navbar') %>

<div class="container">
    <div class="row text-center">
        <div class="card" style="width:80rem">
            <div class="card-body">
                    <img class="card-img rounded-circle" src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg.jpg" alt="Card image" style="width:150px;height:150px">
                    
            </div>
        </div>
    </div>

    <!-- basic-->
    <div class="row text-center" style="margin-top: 10px">
            <div class="card" style="width: 180rem">
                <div class="card-body">
                        <form>
                                <div class="row">
                                  <div class="col">
                                    <input type="text" class="form-control" placeholder="First name">
                                  </div>
                                  <div class="col">
                                    <input type="text" class="form-control" placeholder="Last name">
                                  </div>
                                </div>
                                <div class="row">
                                        <div class="col">
                                          <input type="text" class="form-control" placeholder="Date of Birth">
                                        </div>
                                        <div class="col">
                                          <input type="text" class="form-control" placeholder="Gender">
                                        </div>
                                      </div>
                              </form>
                </div>
            </div>
    </div>

<!-- address-->
    <div class="row text-center" style="margin-top: 10px">
            <div class="card" style="width: 180rem">
                <div class="card-body">
                        <form>
                                <div class="row">
                                  <div class="col">
                                    <input type="text" class="form-control" placeholder="Contry">
                                  </div>
                                  <div class="col">
                                    <input type="text" class="form-control" placeholder="state">
                                  </div>
                                </div>
                                <div class="row">
                                        <div class="col">
                                          <input type="text" class="form-control" placeholder="City">
                                        </div>
                                        <div class="col">
                                          <input type="text" class="form-control" placeholder="Area">
                                        </div>
                                      </div>
                        </form>
                        
                </div>
            </div>
    </div>

<!-- contacts-->
<div class="row text-center" style="margin-top: 10px">
        <div class="card" style="width: 180rem">
            <div class="card-body">
                    <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Mobile Numver">
                              </div>
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Email-Id">
                              </div>
                            </div>
                    </form>
            </div>
        </div>
</div>
<!-- password-->
<div class="row text-center" style="margin-top: 10px">
        <div class="card" style="width: 180rem">
            <div class="card-body">
                    <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Username">
                              </div>
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Old Password">
                              </div>
                            </div>

                            <div class="row">
                                    <div class="col">
                                      <input type="text" class="form-control" placeholder="New Password">
                                    </div>
                                    <div class="col">
                                      <input type="text" class="form-control" placeholder="Confirm Password">
                                    </div>
                                  </div>
                    </form>
            </div>
        </div>
</div>

</div>