
    <!-- nav bar -->
    <%- include('partials/includes/header') %>
    <%- include('partials/includes/navbar') %>


    <br /> <br /> <br /> <br />

    <br /> <br /> <br /> <br />

    <div class="container">

        
                          <!-- user suggestion box diplay -->
                          



                                <div id="slides">
                                
 
                                </div>


    
            
    </div>

    <script>
    $(document).ready(function()
    {
        //    $("#owl-demo").owlCarousel(
        // {
 
        //         autoPlay: 3000, //Set AutoPlay to 3 seconds
                
        //         items : 3,
        //         itemsDesktop : [1199,3],
        //         itemsDesktopSmall : [979,3]
                
        // });
        user_id = 12

            
        // this function list out all the users which are following you and suggests you to follow or accept the any user has requested you
        fetch_user(); // calling fetch_user() function
        function fetch_user()
        {
                $.ajax(
                {
                        url:"/posts/get_user",
                        method:"GET",
                        success:function(response)
                        {       
                                if(response.length > 0)
                                {

                                        var suggestion_for_user = document.getElementById("slides")
                                        $("#slides").html('<div id="testing" class="owl-carousel"></div>');

                                        for (var i = 0, len = response.length; i < len; i++)
                                        {       var flag = false;
                                                var already_following = false; 
                                                var status =""
                                                let fullname = response[i].user_firstname + ' ' + response[i].user_lastname;
                                                let image = response[i].user_profile_pic 
                                        
                                                let userid = response[i].user_id;
                                                // suggestion_for_user.innerHTML =  suggestion_for_user.innerHTML + `<div id="owl-demo" class="owl-carousel"> `
                                               

                                                        for(var j = 0, len_follow = response[i].Follows.length; j < len_follow; j++)
                                                {

                                                       
                                                       status =  response[i].Follows[j].status
                                                      
                                                       var receiver_id =  response[i].Follows[j].receiver_id
                                                       var follow_user_id = response[i].Follows[j].user_id
                                                       var follow_receiver_id = response[i].Follows[j].receiver_id

            
        $(".owl-carousel").append('<div class="item"><img src="../public/profile_image/'+image+'" alt="Owl Image"></div>');
        

                                                                                
                        // suggestion_for_user.innerHTML =  suggestion_for_user.innerHTML + `
                        // <div class="item"><img src="../public/profile_image/${image}" alt="Owl Image"></div>`;
                                                     

                                                }
       
                                               
                                                
                                                                 
                                                
                                        }
                                        var owl = $("#testing");
            owl.owlCarousel({
                items: 3,
                navigation: true
            });
                         
                                }
                                else{
                                        //do nothing
                                }
                        },
                        error: function(jqXHR, textStatus, errorThrown)
                                {
                                        console.log('jqXHR:');
                                        console.log(jqXHR);
                                        console.log('textStatus:');
                                        console.log(textStatus);
                                        console.log('errorThrown:');
                                        console.log(errorThrown);
                                        alert(errorThrown);
                               }
                });
                

        } // fetch_user() function ends
    })
    </script>