<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Column chart</title>
		<script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        
        <style>
            #container 
            {
                height: 400px; 
                min-width: 310px; 
                max-width: 800px;
                margin: 0 auto;
            }
        </style>

	</head>
	<body>
            <div id="container" style="height: 400px">
            </div>
    
	<script>
        Highcharts.chart('container', 
        {
            chart: {
                type: 'scatter3d',
                options3d: {
                    enabled: true,
                    alpha: 0,
                    beta: 0,
                    viewDistance: 0,
                    depth: 100
                }
            },

            title: {
                text: 'Project Details'
            },

            xAxis: {
            categories:['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
                labels: {
                    skew3d: true,
                    style: {
                        fontSize: '16px'
                    },
                }
            },

            yAxis: {
                
                categories: ['Mon','Tue','Wed','Thur','Fri','Sat','Sun'],
                title: {
                    text: "Week Day's",
                    skew3d: true
                }
            },
            zAxis: 
            {
                min: 0,
                max: 6,
                showFirstLabel: false
            },

            tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y} / {point.stackTotal}'
            },

            plotOptions: {
                column: {
                    stacking: 'normal',
                    depth: 100
                }
            },
            

            //series: [{data: [3, 5, 2, 4, 0, 5, 0, 3, 2, 1, 4, 6]}]

            series: [{
        data: [
            // [X, Y, Z]
        // X=month  Y=week days  Z= No. of Projects
            [0,         0,          1],
            [1,         1,          1],
            [2,         1,          1],
            [3,         3,          1],
            [4,         6,          1],
            [5,         5,          7],
            [6,         2,          1],
            [7,         3,          3],
            [8,         2,          5],
            [9,         4,          5],
            [10,        6,          5],
            [11,        5,          2]
        ]
    }]
        });

	</script>
	</body>
</html>




















<!-- <!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Column chart</title>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
	</head>
	<body>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    
	<script>
	Highcharts.chart('container', {
	    chart: {
	        type: 'scatter'
	    },
	    title: {
	        text: 'Project Details'
	    },
	    xAxis: {categories: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']},
	    yAxis: {categories: ['Mon','Tue','Wed','Thur','Fri','Sat','Sun']},
	    series: [{data: [3, 5, 2, 4, 0, 5, 0, 3, 2, 1, 4, 6]}]
	});
	</script>
	</body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Document</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>
<body>

<div class="container mt-4 col-lg-10 col-md-6 col-sm-12">
<canvas id="myChart"></canvas>
</div>

<script type="text/javascript">
var myChart = document.getElementById('myChart').getContext("2d")

var myGraph = new Chart(myChart, {
type: "bubble",
data: {
labels: ['Jan', 'Feb', 'Mar', 'April', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
datasets: [{
label: 'Projects',
data: [4, 3, 1, 5, 2, 5, 4, 5, 4, 6, 4, 5],
backgroundColor: 'lightgreen',
borderWidth: 2,
borderColor: '#000',
}],
},
options: {
scales: {
xAxes: [{
gridLines: {
display: false,
}
}],
yAxes: [
    {
        ticks: 
        {
        beginAtZero: true,
    }
    }]
}
}
})
</script> -->

<!-- </body>
</html> -->


<!-- <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container"></div>

<script>
        data = [
            {
                color: 'rgba(223, 83, 83, .5)',
                data: [ // x-axis     , y-axis
                        [1435334434000,39600000], // [2015-01-01, 20:00] 
                        [1435349900000,55080000], // [2015-01-02, 11:00]
                        [1435345565000,50760000],
                        [1435352535000,57720000],
                        [1435343345000,48540000],
                        [1435346691000,51840000],
                        [1435348933000,54120000],
                        [1435351444000,56640000],
                        [1435008000000,58800000],
                        [1434992040000,42840000],
                        [1435077180000,41580000],
                        [1435076520000,40920000],
                        [1435180800000,58800000],
                        [1435176480000,54480000],
                        [1435170720000,48720000],
                        [1435170720000,48720000],
                        [1435163520000,41520000],
                        [1435161240000,39240000],
                        [1435157820000,35820000],
                        [1435259100000,50700000],
                        [1435258800000,50400000],
                        [1435255740000,47340000],
                        [1435254420000,46020000],
                        [1435253820000,45420000],
                        [1435248540000,40140000],
                        [1435247400000,39000000],
                        [1435243140000,34740000],
                        [1435345260000,50460000],
                        [1435343640000,48840000],
                        [1435343280000,48480000],
                        [1435342920000,48120000],
                        [1435342500000,47700000],
                        [1435339080000,44280000],
                        [1435332780000,37980000],
                        [1435332360000,37560000]
                      ]
            }
        ]
Highcharts.chart('container', {
        type: 'scatter',
         zoomType: 'xy',
         global: {
                useUTC: false
            },

title: {
  text: 'test'
},
tooltip: {
                formatter: function() {
                    return  '<b>' + this.series.name +'</b><br/>' +
                        Highcharts.dateFormat('%m/%d/%Y %H:%M', this.x);
                }
            },
            xAxis: {
                title: {
                    text: 'Day of the week'
                },
                 type: 'datetime',
                 //maxPadding: 0.0,
                "labels": 
                {
                    "formatter": function() {
                         return Highcharts.dateFormat("%A", this.value)
                    }                    
                }
            },



            yAxis: {
                title: {
                    text: 'Time of the day'
                },
                type: 'datetime',
                "labels": {
                    "formatter": function() {
                        return Highcharts.dateFormat("%l:%M %p", this.value)
                    }                    
                }
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                backgroundColor: '#FFFFFF',
                borderWidth: 1
            },

            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    }
                }
            },

            series: data,

});
</script> -->