
<!DOCTYPE html>
<html lang="en">
  <head>

	    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fluffs - Ultimate Bootstrap Social Network UI Kit</title>
		<meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta property="og:title" content="" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />		
		
		<!-- ==============================================
		Favicons
		=============================================== --> 
		<link rel="icon" href="assets/img/logo.jpg">
		<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
		
	    <!-- ==============================================
		CSS
		=============================================== -->
        <link type="text/css" href="assets/css/demos/photo.css" rel="stylesheet" />
				
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
		<script src="assets/js/modernizr-custom.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->	
		
  </head>

<body>

     <!-- ==============================================
     Navigation Section
     =============================================== -->  

  
	 <!-- ==============================================
	 Navbar Second Section
	 =============================================== -->

	 <!-- ==============================================
	 News Feed Section
	 =============================================== --> 
	 <section class="newsfeed">
	  <div class="container-fluid">
	   <div class="row">
	            <div class="col-lg-3">
		
                    <a href="#">
                    <div class="storybox" 
                    style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('assets/img/posts/2.gif') no-repeat;
                            background-size: cover;
                            background-position: center center;
                            -webkit-background-size: cover;
                            -moz-background-size: cover;
                            -o-background-size: cover;">
                    <div class="story-body text-center">
                    <div class=""><img class="img-circle" src="assets/img/users/10.jpg" alt="user"></div>
                    <h4>Clifford Graham</h4>
                    <p>2 hours ago</p>
                    </div>		  
                    </div>
                    </a>		 
         
                </div><!--/ col-lg-3 -->
        

		        <div class="col-lg-3">
		
                    <div class="suggestion-box full-width">
                        <div class="suggestions-list">
                            <div class="suggestion-body">
                                <img class="img-responsive img-circle" src="assets/img/users/17.jpeg" alt="Image">
                                <div class="name-box">
                                    <h4>Anthony McCartney</h4>
                                    <span>@antony</span>
                                </div>
                                <span><i class="fa fa-plus"></i></span>
                            </div>
                        </div><!--suggestions-list end-->
		            </div>	

                    <!--Trending photos-->
                    <div class="trending-box">
                    <div class="row">
                    <div class="col-lg-12">
                        <h4>Trending Photos</h4>
                    </div>
                    </div>
                    </div>
		
                    <div class="trending-box">
                        <div class="row">
                        <div class="col-lg-6">
                        <a href="#"><img src="assets/img/posts/17.jpg" class="img-responsive" alt="Image"/></a>
                        </div>
                        <div class="col-lg-6">
                        <a href="#"><img src="assets/img/posts/12.jpg" class="img-responsive" alt="Image"/></a>
                        </div>
                        </div>
		            </div>		
		
		
                </div><!--col-lg-3 end-->
		
	   </div><!--/ row -->
	  </div><!--/ container -->
	 </section><!--/ newsfeed -->
  
	 <!-- ==============================================
	 Modal Section
	 =============================================== -->
     <div id="myModal" class="modal fade">
      <div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-body">
		
        </div><!--/ modal-body -->
		
       </div><!--/ modal-content -->
      </div><!--/ modal-dialog -->
     </div><!--/ modal -->
	 
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/base.js"></script>
	<script src="assets/plugins/slimscroll/jquery.slimscroll.js"></script>
	<script>
	$('#Slim,#Slim2').slimScroll({
	        height:"auto",
			position: 'right',
			railVisible: true,
			alwaysVisible: true,
			size:"8px",
		});		
	</script>

  </body>
</html>
