
    <!-- nav bar -->
    <%- include('partials/includes/header') %>
    <%- include('partials/includes/navbar') %>


    <br /> <br /> <br /> <br />

   

   
    <div class="container-fluid fixed-bottom bg-transparent" style="background-color:#F4F6F6">
            <div class="row" style="padding:10px">
             <ul class="list-group">
              <li style="padding-bottom:10px">
                <a href=""><img src="../public/image/Twitter_UI-18-512.png" alt="" class="rounded-circle border border-danger" style="width:50px; height:50px"></a>
                <a href=""><img src="../public/image/messageicon1.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:50px; height:50px"></a>
                <a href=""><img src="../public/image/notificationicon.png" alt="" class="img-fluid rounded-circle border border-danger" style="width:50px; height:50px"></a>
              </li> 					   
             </ul>        
            </div>
           </div>
           
       
        <div class="container-fluid fixed" style="background-color:#F4F6F6">
         <div class="row" style="padding:10px">
          <ul class="list-group">
           <li style="padding-bottom:10px">
            
             <button class="rounded-circle border border-danger"  style="width:100px; height:100px">
              <i class="fa fa-plus"></i>
             </button>
             <a href=""><img src="../public/image/1.jpg" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
             <a href=""><img src="../public/image/3.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
             <a href=""><img src="../public/image/4.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
             <a href=""><img src="../public/image/5.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
             <a href=""><img src="../public/image/6.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
             <a href=""><img src="../public/image/7.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
             <a href=""><img src="../public/image/8.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
             <a href=""><img src="../public/image/9.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
             <a href=""><img src="../public/image/10.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
             <a href=""><img src="../public/image/11.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
             <a href=""><img src="../public/image/1.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
             <a href=""><img src="../public/image/4.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
             <a href=""><img src="../public/image/5.jpg" alt="" class="img-fluid rounded-circle border border-danger" style="width:100px; height:100px"></a>
            
           </li> 					   
          </ul>
          
         
         </div>
        </div>
    
            
    

    <div class="container" style="padding-top:40px"><!-- main container starts-->

        <div class="row"><!-- main row starts -->

          <!-- ................................ Left side bar ............................... -->
        <% if (user.length > 0)
        { %>
          <div class="col-md-2"> <!-- col-md-2 starts-->

                <!-- for loop starts here -->
                <% user.forEach(function(item,  index)
                {%>
            <div class="card mb-3">
                    <div class="card-body">
                        <ul class="nav">
                                <li class="card-body">      

                                        <div class="row">
                                        <% if(item.user_profile_pic){ %>
                                                <img src="../public/profile_image/<%= item.user_profile_pic %>" alt="profile image" class="rounded-circle border border-danger" style="width:100px; height:100px">
                                        <% } else { %>
                                                <img src="../public/profile_image/icon.jpg" alt="profile image 1" class="rounded-circle border border-danger" style="width:100px; height:100px">
                                        <% } %>
                                
                                                <h6><%= item.user_firstname %> <%= item.user_lastname %></h6>
                                                <p>Love U Dear Zindgi</p>
                                        </div>                                                                           
                                </li>
                                <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Followers 100</li>
                                        <li class="list-group-item">Following 200</li>
                                </ul>
                        </ul>          
                    </div>

            </div>  
              <!--/sidebar-nav-fixed -->

              <div class="card mb-3">
                    <div class="card-body">
                            <ul class="nav list-group list-group-flush">
                                <li>      
                                    <h6>Dashboard</h6>
                                    <h6>New Group</h6>                    
                                </li>
                        </ul>          
                    </div>

            </div>

            <div class="card mb-3">
                    <div class="card-body">
                            <ul class="nav list-group list-group-flush">
                                <li> View More</li>
                        </ul>          
                    </div>

            </div>
            <%}); %> <!-- for loop ends here -->
              <!-- you can add one more side bar here -->
              <!-------------------------------------------------------------------------------------------------->
            </div> <!-- col-md-2 ends-->
        <%}<!-- if ends here -->
        else
        {%> 
                <p> <strong>There are no recods available</strong></p>
        <%}%><!-- else ends here -->

          
            

            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
                                            <!-- adding main middle page -->
            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->


            
            <div class="col-md-6">

                    <div class="card">
                            <div class="card-body">
                                    <% if (user.length > 0)
                                    {%>
                                        <% user.forEach(function(item, index)
                                        { %>
                                                <% if (item.user_profile_pic)
                                                { %>
                                                        <a href=""><img src="../public/profile_image/<%= item.user_profile_pic %>" alt="" class="rounded-circle border border-danger" style="width:50px; height:50px"></a>
                                                        
                                                <%} else 
                                                {%>
                                                        <a href=""><img src="../public/image/1.jpg" alt="" class="rounded-circle border border-danger" style="width:50px; height:50px"></a>
                                                <%}%>
                                                <button class="btn btn-light" style="position: absolute;right:150px;" data-target="#createpost" data-toggle="modal">Create Post</button>
                                                <a href="#" class="btn btn-dark"style="position: absolute;right:0;">Create Video</a>

                                        <%})%>
                                        
                                    <%} else{%>

                                    <%}%>
                              
                            </div>
                    </div>
                    <!--  pop-up page for creating a event or post -->

                    <div class="modal fade" id="createpost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form action="http://localhost:4000/posts" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                            <textarea name="message" maxlength="120" class="form-control body" placeholder="message"></textarea>
                                      </div>
                                      
                                      <div class="form-group">
                                          <label for="upload" name="uploadPost">Upload Photo</label>
                                          <input type="file" name="feedsposts" class="upload" />
                                          <div class="progress">
                                              <div class="progress-bar" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                          </div>
                                      </div>
                                      
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" name="Share" class="btn btn-primary">Post</button>
                                </div>
                            </form>
                              </div>
                            </div>
                          </div>
                    <!--  pop-up page for creating a event or post------END--- -->
                <hr> 
                
                <input class="form-control" type="text" placeholder="View Feeds By" aria-label="Search">
                <hr> 

                <!-- Suggestions box -->
                <div class="card mb-3" id="slider">
                        <div class="card-header">Suggestions</div>
                        <div class="card-body">
                            <ul class="nav">
                                    <li class="card-body text-center">
                                           <div class="row" id="slides">       

                                                <div class="card col-lg-3" style="width:650px;">
                                                    <div class="card-body">
                                                        <a href=""><img src="../public/image/1.jpg" alt="" class="rounded-circle border border-danger" style="width:60px; height:60px"></a>
                                                       <p style="font-size:10px;"><b>John Fernandise</b></p>
                                                       <button class="btn-post mr-2 btn btn-dark" style="font-size:6px;" type="submit">Follow</button>
                                                       <button class="btn-post mr-2 btn btn-success" style="font-size:6px;" type="submit">message</button>
                                                    </div>
                                                    <div class="card-footer bg-transparent border-success">View Profile</div>
                                                </div>
                                                <div class="card col-lg-3">
                                                        <div class="card-body">
                                                            <a href=""><img src="../public/image/3.jpg" alt="" class="rounded-circle border border-danger" style="width:60px; height:60px"></a>
                                                           <p style="font-size:10px;"><b>John Fernandise</b></p>
                                                           <button class="btn-post mr-2 btn btn-dark" style="font-size:6px;" type="submit">Follow</button>
                                                           <button class="btn-post mr-2 btn btn-success" style="font-size:6px;" type="submit">message</button>
                                                        </div>
                                                        <div class="card-footer bg-transparent">View Profile</div>
                                                </div>

                                                <div class="card col-lg-3">
                                                        <div class="card-body">
                                                            <a href=""><img src="../public/image/8.jpg" alt="" class="rounded-circle border border-danger" style="width:60px; height:60px"></a>
                                                           <p style="font-size:10px;"><b>John Fernandise</b></p>
                                                           <button class="btn-post mr-2 btn btn-dark" style="font-size:6px;" type="submit">Follow</button>
                                                           <button class="btn-post mr-2 btn btn-success" style="font-size:6px;" type="submit">message</button>
                                                        </div>
                                                        <div class="card-footer bg-transparent">View Profile</div>
                                                </div>
                                        </div>
                                      
                                    </li>
                            </ul>          
                        </div>
                      </div>

                      
                

                
                 
                                    <% if (items.length > 0)
                                    { %>
                                      <% items.forEach(function(item,  index)
                                      {%>

                                    
                                            
                                        <div class="card mb-3">
                                                <div class="card-header">
                                                        <% if(item.User.user_profile_pic){ %>
                                                                <a href=""><img src="../public/profile_image/<%= item.User.user_profile_pic %>" alt="" class="rounded-circle border border-danger" style="width:50px; height:50px"></a>
                                                            
                                                        <% } else { %>
                                                            <img src="../public/profile_image/icon.jpg" alt="profile image 1" class="rounded-circle border border-danger" style="width:50px; height:50px">
                                                      <% } %>

                                                      <span class="ml-2" style="color:rgba(0,0,0,0.5)"><%= item.User.user_firstname%> <%= item.User.user_lastname%></span>
                                                </div>
                                                
                                                <div class="card-body">
                                                    <ul class="nav">
                                                            <li>
                                                                    <a href="/post/<%= item.event_id %>">
                                                                        <img src="../public/image/<%= item.e_imagepath %>" alt="error check >" class="img-fluid">
                                                                    </a>
                                                              
                                                            </li>
                                                    </ul>          
                                                </div>
                                                <div class="card-footer">
                                                        <% if(item.event_id != -1){ %>
                                                                <button class="like bg-btn fa fa-thumbs-up" data-post="<%= item.event_id %>"></button>
                                                        <% }
                                                        else{ %>
                                                                <button class="like bg-btn fa fa-thumbs-up" style="color:#0275d8;" data-post="<%= item.event_id %>"></button>
                                                        <% } %>
                                                               <span class="countLikes"><%=item.Likes.length%></span>
                                                        <!-- <button class="like bg-btn fa fa-thumbs-up" style="color:#0275d8;" data-post="<%= item.event_id%>"></button> -->
                                                        <!-- <span class="toggle_likes" data-postID="<%= item.event_id %>">Like</span> -->
                                                        
                                                         |
                                                        <i class="far fa-comments"></i>
                                                
                                                        <i class="fas fa-stopwatch"></i>
                                                        Remind |

                                                        <i class="fas fa-map-marker-alt"></i>
                                                        Interested |
                                                        <i class="far fa-meh"></i>
                                                        Going |
                                                </div>
                                        </div>
                                                  
          
                                        <%}); %>
                                    <%}
                                    else
                                    {
                                      %> 
                                      <p> <strong>There are no recods available</strong></p>
                                  <%  } %>
                
                
               
            </div>

            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
                                            <!-- main middle page ends -->
            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="col-md-4">
                
                <div class="card mb-3">
                        <div class="card-header bg-transparent">
                            <div class="row">
                                    <div class="form-group col-md-9">
                                            <input class="form-control" type="text" placeholder="Find Events" aria-label="Search">
                                      </div>
                                      <div class="form-group col-md-3">
                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find</button>
                                      </div>
                            </div>

                        </div>
                        <div class="card-body">
                        
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Today</button>
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tommarow</button>
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">This Week</button>
                        </div>
                    

                </div>

                <div class="card mb-3">
                        <div class="card-header bg-transparent">Events</div>
                        <div class="card-body">
                            <ul class="nav">
                                    <li class="card-body">        
                                                    <a href=""><img src="../public/image/Upcoming-Events.png" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px;"></a>
                                                    Upcoming Events
                                                    <a href=""><img src="../public/image/activeevents.png" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
                                                    Active Events
                                                    <a href=""><img src="../public/image/pastevents.png" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
                                                    Previous Events
                                      
                                    </li>
                            </ul>          
                        </div>
                        <div class="card-footer bg-transparent">View More</div>
                      </div>

                    <div class="card mb-3">
                        <div class="card-header bg-transparent">Remended Events For You</div>
                        <div class="card-body">
                            <ul class="nav">
                                    <li class="card-body">
                                           <div class="row">       

                                            <div class="col-lg-3">
                                                    <a href=""><img src="../public/image/newevents.jpg" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
                                            </div>
                                            <div class="col-lg-3">
                                                    <a href=""><img src="../public/image/jazzyb.jpg" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
                                            </div>
                                            <div class="col-lg-3">
                                                    <a href=""><img src="../public/image/6.jpg" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
                                            </div>
                                            <div class="col-lg-3">
                                                    <a href=""><img src="../public/image/1.jpg" alt="" class="rounded-circle border border-danger" style="width:100px; height:100px"></a>
                                            </div>
                                            

                                        </div>
                                      
                                    </li>
                            </ul>          
                        </div>
                        <div class="card-footer bg-transparent">View More</div>
                      </div>


                <!--/sidebar-nav-fixed -->
            </div>
          
        </div><!-- main row ends -->
    </div>
    <%- include('partials/includes/footer') %>
    <script>
    $(document).ready(function()
    {
            $('.like').on('click', function(events)
            {
                event.preventDefault();
                event.stopPropagation();
                
                var postId = $(this).attr('data-post');
                var postId = parseInt(postId,10)
                //alert(postId);


                $.ajax(
                        {
                                type: 'POST',
                                url:  '/posts/like/' + $(this).attr('data-post'),
                                contentType: "application/json", 
                                //data: JSON.stringify(data),
                                success : function(response)
                                {
                                                     
                                        if(response)
                                        {
                                                console.log("checking success data from ajax =>",JSON.stringify(response))
                                                $('.countLikes').html(1000);
                                               // $('.countLikes').attr($(this).attr('data-post'),100);
                                                //alert(dataformserver);
                                        }
                                                
                                       
                                },
                                error : function()
                                {
                                        alert('error from server');
                                }
                        }
                );
            })
            
    });
    </script>