



    <!-- nav bar -->
    <%- include('partials/includes/header') %>
    <%- include('partials/includes/navbar') %>

	<!--Coded With Love By Mutiullah Samim-->

		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card_d mb-sm-3 mb-md-0 contacts_card_d">
					
					<div class="card-body contacts_body_ex">
						<ui class="contactsss">
          
            <li class="active">
              
              <div class="d-flex bd-highlight">
                
                <div class="img_cont">
									<img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
                
                <div class="user_info">
									<span>Maryam Naz</span>
									<p>Maryam is online</p>
								</div>
              
              </div>
              
						</li>
            
            <li>
              
              <div class="d-flex bd-highlight">
                
                <div class="img_cont">
									<img src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg" class="rounded-circle user_img">
									<span class="online_icon offline"></span>
								</div>
                
                <div class="user_info">
									<span>Sahar Darya</span>
									<p>Sahar left 7 mins ago</p>
                </div>
                
              </div>
              
            </li>
            
						</ui>
					</div>
					
				</div></div>
			
    </div>
    </div>
	


    <!-- <br /> <br /> <br /> <br />
     sidebar-nav-fixed pull-right affix -->
    <!-- <nav class="sidebar-nav-fixed  pull-right affix navbar-dark bg-primary">
            
        
            <div class="sidebar-expanded col-2 d-none d-md-block">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Contact</a>
                    </li>
                </ul>
               
            </div>
        </nav> -->
        
        
        
    <!-- <div class="container-fluid">
            <div class="row">
              <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">
                        <span data-feather="home"></span>
                        Dashboard <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="file"></span>
                        Orders
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="shopping-cart"></span>
                        Products
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="users"></span>
                        Customers
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="bar-chart-2"></span>
                        Reports
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="layers"></span>
                        Integrations
                      </a>
                    </li>
                  </ul>
      
                  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                      <span data-feather="plus-circle"></span>
                    </a>
                  </h6>
                  <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Current month
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Last quarter
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Social engagement
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Year-end sale
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
</div>
</div> -->

    <!-- <div class="container">
        <div class="row">
            <div class="col-md-4">
                    <div class="card text-center" style="width: 18rem;">
                            <div class="card-header">
                                    <h3>Online Users</h3>
                            </div>

                            <ul class="list-group list-group-flush" id="users">
                              <li class="list-group-item">Cras justo odio</li>
                            </ul>
                    </div>
               

            </div>

            <div class="col-md-8">
                <div class="chat" id="chat"></div>

                <form id="messageForm">
                    <div class="form-group">
                        <label>Enter Message</label>
                        <textarea class="form-control" id="message"></textarea><br />
                        <input type="submit" class="btn btn-primary" value="Send Message" />
                    </div>
                </form>
                
            </div>
        </div>
    </div>

    <script>
        $(function()
        {
            var socket = io.connect();
            var $messageForm = $('#messageForm');
            var $message = $('#message')
            var $chat = $('#chat')
            //alert("hello")
            $messageForm.submit(function(e)
            {
                e.preventDefault();
                //console.log('Submmited');
                //alert('Submmited');
                socket.emit('send message', $message.val());
                $message.val(' ');
            })

            socket.on('new message', function(data)
            {
                $chat.append('<div class="card">  <div class="card-body" style="background:#D5F5E3">' +data.msg+ '</div></div>');
            });
        });

    </script> -->