<%- include('partials/includes/header') %>
<%- include('partials/includes/navbar') %>


<br /> <br /> <br /> <br /><br /> <br /> <br /> <br />

<div class="container">

        <div id="owl-demo">
          
                <div class="item"><img src="../public/image/1556899294785.jpg" alt="Owl Image"></div>
                <div class="item"><img src="../public/image/1.jpg" alt="Owl Image"></div>
                <div class="item"><img src="../public/image/1557078743444.jpg" alt="Owl Image"></div>
                <div class="item"><img src="../public/image/1556896953189.jpg" alt="Owl Image"></div>
                <div class="item"><img src="../public/image/9.jpg" alt="Owl Image"></div>
                <div class="item"><img src="../public/image/5.jpg" alt="Owl Image"></div>
                <div class="item"><img src="../public/image/6.jpg" alt="Owl Image"></div>
                <div class="item"><img src="../public/image/7.jpg" alt="Owl Image"></div>
               
              </div>

</div>

<script>
$(document).ready(function() {
 
 $("#owl-demo").owlCarousel({

     autoPlay: 3000, //Set AutoPlay to 3 seconds

     items : 4,
     itemsDesktop : [1199,3],
     itemsDesktopSmall : [979,3]

 });

});
</script>