
    <!-- nav bar -->
    <%- include('partials/includes/header') %>
    <%- include('partials/includes/navbar') %>


    <br /> <br /> <br /> <br />

    <form class="upload" enctype="multipart/form-data" id="form_data" data-user_id="<%= item.user_id %>">

      <input id="datafile" type="file" name="userPhoto" style="visibility:hidden"/>
      <span title="attach file" class="attachFileSpan" onclick="document.getElementById('datafile').click()"><i for="upload" class="fa fa-camera" data-toggle="tooltip" data-placement="top" title="Click to change your profile image"></i></label></span>
      <!-- <input type="file" id="datafile" name="userPhoto"/> -->
      <div class="form-group">
        <textarea name="message" maxlength="120" class="form-control body" placeholder="message"></textarea>
    </div>
               
      <input type="submit" value="submit" class="btn btn-sm btn-primary"/> 
      </form>
        