
    <!-- nav bar -->
    <%- include('partials/includes/header') %>
    <%- include('partials/includes/navbar') %>


    <br /> <br /> <br /> <br />

    <br /> <br /> <br /> <br />

    <div class="container">

        
                          <!-- user suggestion box diplay -->
                          


   
                                <div id="slides">
                                
 
</div>
                                </div>

    
            
    </div>

    <script>
    $(document).ready(function()
    {
           $("#owl-demo").owlCarousel(
        {
 
                autoPlay: 3000, //Set AutoPlay to 3 seconds
                
                items : 4,
                itemsDesktop : [1199,3],
                itemsDesktopSmall : [979,3]
                
        });
        user_id = 12

            
        // this function list out all the users which are following you and suggests you to follow or accept the any user has requested you
        fetch_user(); // calling fetch_user() function
        function fetch_user()
        {
                $.ajax(
                {
                        url:"/posts/get_user",
                        method:"GET",
                        success:function(response)
                        {       
                                if(response.length > 0)
                                {

                                        var suggestion_for_user = document.getElementById("slides")

                                                               suggestion_for_user.innerHTML =  suggestion_for_user.innerHTML + ` <div id="owl-demo">`
                                        for (var i = 0, len = response.length; i < len; i++)
                                        {       var flag = false;
                                                var already_following = false; 
                                                var status =""
                                                let fullname = response[i].user_firstname + ' ' + response[i].user_lastname;
                                                let image = response[i].user_profile_pic 
                                        
                                                let userid = response[i].user_id;
                                                for(var j = 0, len_follow = response[i].Follows.length; j < len_follow; j++)
                                                {
                                                        
                                                       
                                                       status =  response[i].Follows[j].status
                                                      
                                                       var receiver_id =  response[i].Follows[j].receiver_id
                                                       var follow_user_id = response[i].Follows[j].user_id
                                                       var follow_receiver_id = response[i].Follows[j].receiver_id

                                                                                
                        suggestion_for_user.innerHTML =  suggestion_for_user.innerHTML + `<div class="item"><img src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Owl Image"></div>
  <div class="item"><img src="https://cdn.pixabay.com/photo/2018/10/30/16/06/water-lily-3784022__340.jpg" alt="Owl Image"></div>
    <div class="item"><img src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Owl Image"></div>
  <div class="item"><img src="https://cdn.pixabay.com/photo/2018/10/30/16/06/water-lily-3784022__340.jpg" alt="Owl Image"></div>
    <div class="item"><img src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Owl Image"></div>
  <div class="item"><img src="https://cdn.pixabay.com/photo/2018/10/30/16/06/water-lily-3784022__340.jpg" alt="Owl Image"></div>
    <div class="item"><img src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Owl Image"></div>
  <div class="item"><img src="https://cdn.pixabay.com/photo/2018/10/30/16/06/water-lily-3784022__340.jpg" alt="Owl Image"></div>
    <div class="item"><img src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Owl Image"></div>
  <div class="item"><img src="https://cdn.pixabay.com/photo/2018/10/30/16/06/water-lily-3784022__340.jpg" alt="Owl Image"></div>`;
                                                     
                                        
                                                }
                                               
                                                
                                                                  suggestion_for_user.innerHTML =  suggestion_for_user.innerHTML + `</div>`
                                                
                                        }
                         
                                }
                                else{
                                        //do nothing
                                }
                        },
                        error: function(jqXHR, textStatus, errorThrown)
                                {
                                        console.log('jqXHR:');
                                        console.log(jqXHR);
                                        console.log('textStatus:');
                                        console.log(textStatus);
                                        console.log('errorThrown:');
                                        console.log(errorThrown);
                                        alert(errorThrown);
                               }
                });
                

        } // fetch_user() function ends
    })
    </script>